@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.add-btn {
   display: flex;
   gap: 5%;
   justify-content: center; 
   align-items: center;

   button {
    max-width: 200px;
   }

   }

.title {
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    font-family: Roboto, sans-serif;
    letter-spacing: .0125em;
    text-align: center;
    margin-top: 3%;
}

.single-card {
    margin: 5% 2%;

}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.slideshow-container {
  margin: auto;
  position: relative;
  width: 80%;
  height: 60vh;
}

.slide {
  display: none;
  position: absolute;
  top: 23%;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide.active {
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  cursor: pointer;
  color: #3f51b5;
}

.prev {
  left: -8%;
}

.next {
  right: -8%;
}

@media (max-width: 760px) {

  .mat-mdc-card-title {
    font-size: 1.1rem;
  }

  .slide {
    top: 30%;
  }

  .prev, .next {
    font-size: 40px;
  }

}
